*
{
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.main-content
{
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  align-items: center;
}

.title
{
  margin-top: 0.5rem;
  text-align: center;
}

form
{
  width: 80%;
  border-radius: 0.313rem;
  background-color: #f1f1f1;
  margin: 0 auto;
  padding: 0.938rem;
}

input[ type=text ], input[ type=password ], input[ type=submit ]
{
  width: 100%;
  padding: 0.75rem 1.25rem;
  margin: 0.5rem 0;
  display: inline-block;
  border: 0.063rem solid #ccc;
  border-radius: 0.25rem;
}

input[ type=submit ]
{
  background-color: #0063cc;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
}


.message
{
  color: red;
}

input[ type=submit ]:hover
{
  background-color: #0069d9;
  border: #0062cc;
}
